<template>
     <div class="row">
        <div style = "width: 30% ; margin: 0 auto;">
            
                <div class = "form-group">
                    <input class= "form-control" type="text" name="title" placeholder=" Title" v-model="recipe.title">
                </div>
                <div class = "form-group">
                    <input class= "form-control" type="text" name="image" placeholder="image url" v-model="recipe.image">
                </div>
                <div class = "form-group">
                    <input class= "form-control" type="text" name="description" placeholder="description" v-model="recipe.description">
                </div>
                <div class = "form-group">
                    <button type= "submit" class = "btn btn-lg btn-primary btn-block" @click="addToApi" >Submit</button>
                </div>
            
              <a href="#/">Go Back</a>
        </div>
       
        
        
    </div>
</template>

<script>
var axios = require("axios");
module.exports = {
  data() {
    return {
      recipe: {
        title: "",
        image: "",
        description: ""
      }
    };
  },
  methods: {
    addToApi: function() {
      let newRecipe = {
        title: this.recipe.title,
        image: this.recipe.image,
        description: this.recipe.description
      };
      console.log(newRecipe);
      axios.post("admin/recipes/", newRecipe)
        .then(response => {
          //This is only an example of how you can access the status code
          if (response.status !== 200) {
            console.log("Wrong status code: " + response.status);
          }
          //If we get a response, empty the camels array and fill it with all camels from our endpoints

          console.log(response.data);
          this.recipe = response.data;
        })
        .catch(error => {
          //In case of error, empty the camels array.

          console.log(error);
        })
        .then(function() {
          //This code is always executed, independent of the request being successful or not.
           window.open('http://localhost:3000/admin#/','_self');
        });
    }
  }
};
</script>


