<!-- ownerListCamels.vue -->
<!-- This is a Vue component with some AJAX magic.
In the JS Code, we have defined a camel array (camels) that we populate using the function
getCamels(), using an AXIOS get request. Furthermore, we provide a delete function that can
delete camels using a DELETE request (again using AXIOS).

In the template tag, the only interesting part is the div with the v-for attribute. 
Here, Vue creates a div per camel in our camels array. Each div has an image and 
another div containing some basic information on the Camel (its color and position).-->
<template>
    <div class= "row text-center" style = "display:flex; flex-wrap:wrap;" >
        <div v-for="recipe in recipes" v-bind:key="recipe._id" class="media border p-1 mt-3 mb-5 ml-1 mr-1 col-md-3 col-sm-6 ">
            <button type="button" class="close" @click="deleteRecipe(recipe._id)">&times;</button>
            <div class="thumbnail " style="margin: auto;">
              <img v-bind:src ="recipe.image"  class="mr-3 mt-3 img-thumbnail rounded" style="width:100px;">
                <div class = "caption">
                    <h4> {{recipe.title}} </h4>
                </div>
                <p> {{recipe.description}} </p> 
                <router-link v-bind:to= "'/recipes/'+ recipe._id "><button type="button" class="btn btn-success">View info</button></router-link> 
                <router-link v-bind:to= "'/editRecipe/'+ recipe._id "><button type="button" class="btn btn-danger">Edit Recipe</button></router-link> 
  

            </div>

        </div>
    </div>
</template>

<script>
var axios = require('axios');

module.exports = {
  name:"ListRecipes",
  data () {
    return {
      recipes: []
    }
  },
  methods: {
      //Performs a GET request to /api/camels using AXIOS.
        getRecipes: function () {
            axios.get('/admin/recipes/')
            .then(
                response => {
                    //This is only an example of how you can access the status code
                    if (response.status!==200) {
                        console.log("Wrong status code: " + response.status);
                    }
                    //If we get a response, empty the camels array and fill it with all camels from our endpoints
                    this.recipes.length = 0;
                    for (var i = 0; i < response.data.data.length; i++) {
                        this.recipes.push(response.data.data[i]);
                    }
            })
            .catch(error => {
                //In case of error, empty the camels array.
                this.recipes.length = 0;
                console.log(error);
            })
            .then(function () {
                //This code is always executed, independent of the request being successful or not.
            });
        }, 
        //Performs a DELETE request to the camel with the provided ID.
        deleteRecipe: function (recipeID) {
            console.log("Deleting Recipe with ID " + recipeID);
            axios.delete('/admin/recipes/'+recipeID)
            .then(
                response => {
                    //This code basically finds the camel under question in the array and deletes it (using splice)
                    var localIndex = -1;
                    for (var i=0; i < this.recipes.length; i++) {
                        if (this.recipes[i]._id === recipeID) {
                            localIndex = i;
                            i = this.recipes.length;
                        }
                    }
                    if (localIndex !== -1) {
                        //Vue reacts to splice. So removing the element here causes the DOM to update.
                        this.recipes.splice(localIndex, 1); 
                    }
                    console.log("Success: " + response.status);
            })
            .catch(error => {
                console.log(error);
            })
            .then(function () {
            });

        }
    }, 
    //This basically means that once Vue is ready, we call getCamels() to fetch
    //all camels and populate our DOM tree with them.
    mounted () {
        this.getRecipes();
    }
};
</script>