<!-- baserouter.vue -->
<template>
  <div>
    <!-- This is our header. Just a Jumbotron with some static info and a navigation bar -->

    <div class="jumbotron text-center w-75 mx-auto"> 
      <h1 class="display-4"> Welcome To Food Recipe webpage</h1>
      <p class="lead" > Admin page, full CRUD access on all posts and comments. </p>
      <hr class="my-4">
      <nav class="navbar navbar-expand-sm bg-light navbar-light ">
        <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-create-tab" data-toggle="pill" href="#/createRecipe">Create Recipe</a>
          </li>
        </ul>
      </nav>
    </div>
  
    <!-- This is our footer -->

      <div class="container w-75 mx-auto ">
      <!-- The empty col-2 here are just used as a placeholder on the right and left -->
      <!-- <div class="col-sm-2">
      </div> -->
    
      <!-- Router view is where we will mount our dynamic content -->
      <!-- <div class="col-md-3 col-sm-6"> -->
        <router-view></router-view>
      <!-- </div> -->
    
      <!-- <div class="col-sm-2">
      </div> -->
    </div>
    
    
  
  <!-- This is our footer -->
  <div class="jumbotron text-center w-75 mx-auto " style="margin-bottom: 2rem; padding: 1rem 0rem;">
    <p>Created by GROUP 1 , October 2018.</p>
  </div>
</div>
</template>

<script>
  module.exports = {
    name:"BaseRouter"
  };
</script>