<template>
     <div class="row">
        <div style = "width: 30% ; margin: 0 auto;">
            
                <div class = "form-group">
                    <input class= "form-control" type="text"  placeholder="Author Name" v-model="comment.author" >
                </div>
                <div class = "form-group">
                    <input type="text" class="form-control" placeholder="comment" v-model="comment.text">
                </div>
                <div class = "form-group">
                    <button type= "submit" class = "btn btn-lg btn-primary btn-block" @click="updateComment">Submit</button>
                </div>
            
        </div>
        
    </div>
</template>


<script>
var axios = require("axios");
module.exports = {
  data() {
    return {
     recipeId: this.$route.params.recipeId,
     commentId: this.$route.params.commentId,
     comment: {
        author: "",
        text: ""
      }
    };
  },
  methods: {
    updateComment: function() {
      let newComment = {
        author: this.comment.author,
        text: this.comment.text
      };
      axios.patch('/admin/recipes/'+this.recipeId+'/comments/'+this.commentId,newComment)
            .then(
                response => {
                    //This is only an example of how you can access the status code
                    if (response.status!==201) {
                        console.log("Wrong status code: " + response.status);
                    }
                    //If we get a response, empty the camels array and fill it with all camels from our endpoints
                    
                        console.log(response.data);
                        this.comment = response.data;
                        console.log(this.comment);
                    
            })
            .catch(error => {
                //In case of error, empty the camels array.
                
                console.log(error);
            })
            .then(response => {
                //This code is always executed, independent of the request being successful or not.
                window.open('http://localhost:3000/admin#/recipes/'+this.recipeId,'_self')
            });
        }
  }
};
</script>


