<!-- baserouter.vue -->
<template>
  <div>
    <!-- This is our header. Just a Jumbotron with some static info and a navigation bar -->

    <div class="jumbotron text-center w-75 mx-auto"> 
      <h1>User Page</h1>
      <p>Welcome to the best public recipe sharing site!</p>
      <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/userAddRecipe">Add Recipes</a>
          </li>
        </ul>
      </nav>
    </div>
   
    <!-- This is our footer -->
    <div class="row">
      <!-- The empty col-2 here are just used as a placeholder on the right and left -->
      <div class="col-sm-2">
      </div>
    
      <!-- Router view is where we will mount our dynamic content -->
      <div class="col-sm-8 text-center">
        <router-view> </router-view>
      </div>
    
      <div class="col-sm-2">
      </div>
    </div>
  
</div>
</template>

<script>
  module.exports = {
    name:"BaseRouter"
  };

</script>