<template>
    <div class= "row" >
         <div style = "width: 30% ; margin: 0 auto;">
        
         <div class="dunno">   
            <div class="form-group">
                <label class="pull-left"> Title </label>
                <input class="form-control" type="text" placeholder="title" v-model="recipes.title">
             </div>
              <div class="form-group">
                 <label class="pull-left"> Image URL </label>
                 <input class="form-control" type="text" placeholder="image" v-model="recipes.image">
             </div>
              <div class="form-group">
                <label class="pull-left"> Description </label>
                <input class="form-control" type="text"  placeholder="description" v-model="recipes.description">
             </div>
         </div>

            <button type="submit" class="btn btn-large btn-block btn-primary full-width" @click="addRecipe">Submit</button>
         
          <a href="#/">Go Back</a>
        </div>
    </div>
</template>

<script>
var axios = require('axios');

module.exports = {
  name:"userAddRecipe",
  data () {
    return {
      recipes: {
          title: '',
          image: '',
          description: ''
      }
    }
  },
  methods: {
        addRecipe() {
            let newRecipe = {
                title: this.recipes.title,
                image: this.recipes.image,
                description: this.recipes.description
            }
            
            console.log(newRecipe);
            axios.post('/user/recipes/', newRecipe)
            .then((response) => {
             console.log(response);
            })
            .catch((error) => {
            console.log(error);
            })  
            .then(respone => {
                 window.open('http://localhost:3000/user#/', '_self')
                //This code is always executed, independent of the request being successful or not.
            });    
        },
    }, 

};
</script>