<template>
     <div class="row">
        <div style = "width: 30% ; margin: 0 auto;">
                <div class = "form-group">
                    <input class= "form-control" type="text"  placeholder="Author Name" v-model="comment.author" >
                </div>
                <div class = "form-group">
                    <input type="text" class="form-control" placeholder="comment" v-model="comment.text">
                </div>
                <div class = "form-group">
                    <button type= "submit" class = "btn btn-lg btn-primary btn-block" @click="addToApi" >Submit</button>
                </div>
            
            <router-link v-bind:to= "'/recipes/'+ this.recipeId ">
            <a style="color: white" role="button" class="btn btn-info">Go Back</a>
            </router-link>
        </div>
        
    </div>
</template>


<script>
var axios = require("axios");

module.exports = {
  data() {
    return {
      recipeId: this.$route.params.recipeId,
      comment: {
        author: "",
        text: ""
      }
    };
  },
 methods: {
    addToApi: function() {
      let newComment = {
        author: this.comment.author,
        text: this.comment.text
      };
      console.log(newComment);
      axios.post("user/recipes/" + this.recipeId + "/comments", newComment)
        .then(response => {
          //This is only an example of how you can access the status code
          if (response.status !== 200) {
            console.log("Wrong status code: " + response.status);
          }
          console.log(response.data);
          console.log("comment is added!")
        //   this.comment = response.data;
        })
        .catch(error => {
          console.log(error);
        })
        .then( response => {
            window.open('http://localhost:3000/user#/recipes/' + this.recipeId, '_self')
          //This code is always executed, independent of the request being successful or not.
        });
    }
  }
};
</script>
