<template>
    <div class= "row text-center" style = "display:flex; flex-wrap:wrap;" >
        <div class="jumbotron text-center w-100" style="padding:5%"> 
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav" style="width: 100%;">
             <li class="nav-item" style="width: 100%;">
                <input style="width:100%" type="text" v-model="search" placeholder="search recipe" >
             </li>
            </ul>
        </nav>
        </div>
        <div v-for="recipe in filteredRecipes" v-bind:key="recipe._id" class="media border p-3 mt-3 mb-3 col-md-3 col-sm-6 ">
            <div class="thumbnail">
              <img v-bind:src ="recipe.image"  class="mr-3 mt-3" style="width:100px;">
                <div class = "caption">
                    <h4> {{recipe.title}} </h4>
                </div>
                <p> {{recipe.description}} </p> 
                 <router-link v-bind:to= "'/recipes/'+ recipe._id ">
                 <a style="color: white;" role="button" class="btn btn-info">View Info</a>
                 </router-link> 
            </div>

        </div>
    </div>
</template>

<script>
var axios = require('axios');

module.exports = {
  name:"ListRecipes",
  data () {
    return {
      recipes: [],
      search:''
    }
  },
  methods: {

        getRecipes: function () {
            axios.get('/user/recipes/')
            .then(
                response => {
                    //This is only an example of how you can access the status code
                    if (response.status!==200) {
                        console.log("Wrong status code: " + response.status);
                    }
                    this.recipes.length = 0;
                    for (var i = 0; i < response.data.data.length; i++) {
                        this.recipes.push(response.data.data[i]);
                    }
            })
            .catch(error => {
                //In case of error, empty the camels array.
                this.recipes.length = 0;
                console.log(error);
            })
            .then(function () {
                //This code is always executed, independent of the request being successful or not.
            });
        }, 
    }, 

  computed:{
    filteredRecipes: function(){
        return this.recipes.filter((recipe)=>{
            return recipe.title.match(this.search);
        });
    }
  },

    //This basically means that once Vue is ready, we call getCamels() to fetch
    //all camels and populate our DOM tree with them.
    mounted () {
        this.getRecipes();
    }
};
</script>
