<template>
    <div class="row w-75 mx-auto " >
        <div class="col-md-8 col-sm-3">
            <div class="thumbnail">
                <img class="img-fluid" alt="Responsive image"  :src= "recipe.image" >
                <div class="caption-full">
                    <h2> {{recipe.title}} </h2>
                    <p>{{recipe.description}}</p>
                </div>
            </div>

            <div class="well">
                 <div class="text-right">
                      <a class="btn btn-secondary" href="#/">Go Back</a>
                  <router-link v-bind:to= "'/createComment/'+ recipe._id ">
                         <a style="color: white" role="button" class="btn btn-success">Add new Comment</a>
                      </router-link> 
                 </div>
                  <div v-for="comment in recipe.comments" v-bind:key="comment._id" class="media border p-3 mt-3 mb-3">   
                      <div class="media-body">
                        <h5 class="mt-0">{{comment.author}}</h5>
                        <p>{{comment.text}}</p>
                      </div>
                  </div>
                
            </div>

        </div>
    </div>
</template>


<script>
var axios = require('axios');

module.exports =  {
    data(){
        return{
            recipeId: this.$route.params.recipeId,
            recipe: {
                comments:[],
                title:'',
                image:'',
                description:''

            }
        }
    },
    methods: {
        getRecipe: function () {
            axios.get('/user/recipes/'+this.recipeId+'/comments')
            .then(
                response => {
                    //This is only an example of how you can access the status code
                    if (response.status!==200) {
                        console.log("Wrong status code: " + response.status);
                    }
                    
                        console.log(response.data);
                        this.recipe = response.data;
                        console.log(this.recipe);
                    
            })
            .catch(error => {
                console.log(error);
            })
            .then(function () {
                //This code is always executed, independent of the request being successful or not.
            });
        },
},
 mounted () {
        this.getRecipe();
    }

};
</script>

<style>
 .thumbnail img {
        width: 100%;
    }

    .thumbnail{
    padding: 0;
   }

.thumbnail .caption-full {
    padding: 9px;
}
</style>
